#stravaKudos {
  display: flex;
  flex-direction: column;
  left: 5px;
  font-size: 20px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
  z-index: 49;
  position: fixed;
  top: 61px;

  div {
    margin: 0 auto;
  }

  p {
    margin: 0;
    font-size: 14px;
  }

  &.hidden, &.lockout p {
    display: none !important;
    visibility: hidden !important;
  }
}

#stravaKudosCount {
  margin: 0 3px;
  font-weight: bold;
}